


/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/*this is a wild card that enables me to style all elements in the css file. It will be used to remove all default settings, see below*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*this is for our generic project styles*/
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}
h1, h2, h3 {
    font-family:"Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden {
    display:none;
}

header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    z-index: 99; /* ensures its layered ontop if there are any other z-index values on the oage */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

 header a {
    text-decoration: none;
    color: inherit;
 }



#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom:1px solid #3a3a3a;
}


/*navbar styles and dropdown setting (toggle)*/
nav {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 2px 2px #3a3a3a;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/* navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none; /* hide the checkbox - html input element */ 
}


.nav-toggle-label {
    font-size: 2rem;
    color: black;
}

main {
    flex: 1 0 auto;
    margin-top: 79px;
}



#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

#logo {
        font-size: 280%;
        line-height: 73px;
        margin: 0 0.5rem;
    }

i {
        padding: 5%;
        color: #3a3a3a;
        font-size: 160%;
    }

#hero {
        height: 600px;
        width: 100%;
        background: url("../images/hero-image.webp");
        position: relative;
    }

#cover-text {
        background-color: rgba(249, 109, 187, .7);
        font-size: 130%;
        position: absolute;
        bottom: 30px;
        width: 80%;
        min-height: 200px;
        padding-top: 40px;
        padding-left: 10px;
    }

    #cover-text h2, #cover-text h3 {
        color: #ffffff;
    }

    #circle-cover-bg {
        background: url("../images/reasons-image.webp");
        height: 90vw;
        width: 90vw;
        margin-bottom: 20px;
        border-radius: 50%;
        max-width: 300px;
        max-height: 300px;

    }

#benefits-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

#benefits-physical, #benefits-mental {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#benefits-physical > div,
 #benefits-mental > div {
    width: 75%;
 }

 #benefits-mental > div {
    text-align: end;
    align-self: flex-end;
 }

#times {
    background: url("../images/dublin-city.webp") no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    width: 200px;
    flex-basis: 200px;
    flex-grow: 1;
    border: 2px solid white;
}

#times h3 {
    color: #fafafa;
}

#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;

}
    /* media query for screen with min width*/
    @media screen and (min-width: 768px){
nav {
    display:block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
}
#menu {
    display: flex;
    }
#menu li {
        padding-left: 1rem;
        }
.nav-toggle-label {
    display: none;
}
#cover-text {
    width: 300px;
    right: 50px;
}

}


@media screen and (min-width: 992px){
    #menu a :hover {
        border-bottom: 1px solod #3a3a3a;
        }
    }

@media screen and (min-width: 1200px){
    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits > div {
        flex: 1;
    }

    #benefits-image {
        order: 0
    }

    #benefits-mental {
        order: 1;
    }

    #benefits-mental > div {
        align-self: flex-start;
    }

    #benefits-physical > div {
        align-self: flex-end;
    }
        }